@import "~normalize.css";
@import "~scss/variables.scss";
@import "~scss/mixins.scss";

.app {
  text-size-adjust: none;
  font-family: helvetica, arial, sans-serif;
  line-height: 200%;
  padding: 6px 20px 30px;
  @include bg-color(var(--color-red));
}
